.farm-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  flex: 4;
  /* background-color: blue; */
}

.farm-Title {
  /* background-color: aliceblue; */
  color: white;
  font-size: 25px;
}

.farm-todos {
  /* background-color: hsla(247, 100%, 25%, 40%); */
  position: relative;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.farm-card {
  display: flex;
  position: relative;
  margin-top: 20px;
  color: white;
  background-color: hsl(220, 42%, 25%, 80%);
  border-radius: 10px;
  min-height: 20vh;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.farm-add-todo {
  display: flex;
  position: relative;
  flex-direction: column;
  color: white;
  background-color: hsl(220, 42%, 25%, 80%);
  min-height: 20vh;
  border-radius: 10px;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.add-task {
  color: hsl(110, 100%, 50%);

  position: absolute;
  right: 10px;
  top: 0px;
  cursor: pointer;
  font-size: 20px;
  padding-left: 50px;
}

.farm-card-priority-high {
  left: 8px;
  position: absolute;
  margin-top: 5px;
  background-color: hsl(360, 100%, 49%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.farm-card-priority-medium {
  left: 8px;
  position: absolute;
  margin-top: 5px;
  background-color: yellow;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.farm-card-priority-low {
  left: 8px;
  position: absolute;
  margin-top: 5px;
  background-color: green;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.farm-card-details {
  padding-top: 25px;
  padding-left: 10px;
  padding-bottom: 25px;
}

.farm-working-name {
  position: absolute;
  bottom: 2px;
  right: 15px;
}

.farm-card-edit {
  color: white;
  position: absolute;

  right: 55px;
  margin-top: 5px;
  cursor: pointer;
}

.click {
  position: absolute;
  right: 15px;
  margin-top: 5px;
  color: hsl(355, 100%, 42%);
  cursor: pointer;
}

.farm-button {
  width: 20%;
  border: none;
  border-radius: 25px;
  color: white;
  background-color: rgb(39, 37, 37);
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.no-task {
  color: hsl(360, 100%, 54%);
  position: absolute;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
  padding-left: 50px;
  top: 0;
}

.farm-priority-radio {
  margin-left: 10px;
  margin-right: 10px;
}

textarea {
  border: none;
  width: 90%;
  height: 100px;
}

.farm-card-check {
  position: absolute;
  color: green;
  right: 35px;
  margin-top: 5px;
  cursor: pointer;
}
