table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 100%;
  text-align: left;
}

th {
  color: white;
  background-color: hsl(196, 84%, 29%);
}

td {
  color: white;
  background: hsl(196, 84%, 42%);
}

.table-name {
  width: 10%;
}

.table-level {
  width: 10%;
}

.table-content {
  width: 50%;
}

.table-date {
  width: 10%;
}
